p,
h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: "Roboto", serif;
}

body {
  background-color: #f5f5f9;
  background-size: cover;
  width: auto;
  overflow-x: hidden;
  font-family: "Roboto", serif;
  margin: 0px;
}
.container {
  padding-left: 10rem;
  padding-right: 10rem;
  margin-top: 20px;
}

.profile {
  background-color: #1d539f !important;
  background-image: url(../img/background-img.jpeg);
  text-align: center;

  height: 400px;
  margin-bottom: 0px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.profile h1 {
  font-size: 50px;
  font-weight: 700;
  color: white;
}

.profile img {
  border-radius: 50%;
  max-width: 100%;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 10px;
}

.profile .profile-picture {
  margin-bottom: 30px;
  height: 200px;
}

.banner {
  padding: 20px 0px 50px 0px;
  height: 150px;
  background-color: #13256e;
}

.banner .logo {
  max-width: 180px;
  max-height: 60px;
  width: auto;
  height: auto;
}

.banner .title {
  color: white;
  font-size: 50px;
  font-weight: 700;
}

.row-header {
  margin: 0px auto;
  padding: 0px;
}

.row-content {
  margin: 0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}

.footer {
  background-color: #d1c4e9;
  margin: 0px auto;
  padding: 20px 0px 20px 0px;
}

.navbar {
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: #02143d;
}

.nav-item {
  margin-left: 15px;
  margin-right: 15px;
}

.img-project {
  display: block;
  width: 400px;
  height: 400px;
  margin: auto;
  margin-bottom: 20px;
  border-radius: 2rem;
}

.projects {
  margin: 0 auto;
  width: 800px;
  align-items: center;
  justify-content: center;
}

.btn {
  width: 100px;
  margin: auto;
  text-align: center;
  font-size: 18px;
  background-color: orange;
}

.btn-container {
  display: flex;
  flex-direction: row;
  flex: space-around;
}

