{% extends 'index.html' %} 
{% block body %}
    <div class= 'container'>
        <br />
        <h3 style="text-align: center; margin: 0 auto;">About us</h3>
        <br /> <br />
        <p class="aboutMe" style="width:500px; text-align: center; margin: 0 auto;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores esse ipsam, debitis officia atque dolorem quaerat cum corrupti facere modi illum consectetur illo temporibus mollitia, similique tempora expedita. Nesciunt, porro.</p>
        <br />
        <p class="aboutMe" style="width:500px; text-align: center; margin: 0 auto;">Morbi fringilla interdum ex, vel sodales magna varius eleifend. Aliquam elementum ex ut ipsum posuere sagittis. Proin mollis, diam egestas imperdiet suscipit, tellus tellus ornare felis, nec interdum risus erat in augue.</p>
        <br /> <br />
        <div class='btn-container'>        
            <button class = 'btn' ><a href="https://linkedin.com" target="_blank">LinkedIn</a></button>
            <button class = 'btn' ><a href="#" target="_blank">Resume</a></button>
        </div>
    </div>
{% endblock %} 