{% extends 'base.html' %} {% block navbar%}
<nav class="navbar navbar-dark navbar-expand-sm">
  <div class="nav-container">
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">
            <span class="navbar-toggler-icon"></span>
        </button> -->

    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a class="nav-link" href="./about">About Us</a></li>
      <li class="nav-item"><a class="nav-link" href="./blog">Blog</a></li>
      <li class="nav-item">
        <a class="nav-link" href="./projects">Projects</a>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}
